* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-main: #1F2937;
    --bg-quote: #3882F6;
    --hero-text: #f9faf8;
    --hero-secondText: #E5E7EB;
    --header-logo-text: #F9FAF8;
    --btn-color: #3882f6;
    --informationText: #1F2937;
    --quotetext: #1F2937;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header section */

header {
    background-color: var(--bg-main);
    width: 100%;
    height: 80vh;
    padding: 0 15%;
}

/* nav section starts  */

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;

}


.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links li a {
    font-size: 18px;
    color: var(--hero-secondText);
}

.logo {
    font-size: 24px;
    color: var(--header-logo-text);
}


/* nav section ends */

/* hero section starts */

.hero {
    display: flex;
    height: 70vh;
    flex: 1;
    align-items: center;
}


.tittle {
    font-size: 48px;
    font-weight: 900;
    color: var(--hero-text);
}

.tittle-text {
    font-size: 18px;
    color: var(--hero-secondText);
    line-height: 1.5;
    padding: 10px 0;
}

.hero-img img {
    width: 400px;
}


.hero-box {
    padding: 0 200px 0 0;
}

.main-btn {
    background-color: var(--btn-color);
    color: var(--hero-secondText);
    font-size: 18px;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 10px;
    border: none;
}

/* hero section ends  */